<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AzureStorageExtensions" version="1.0.2" targetFramework="net45" userInstalled="true" />
  <package id="Base64Url" version="1.0.2" targetFramework="net45" userInstalled="true" />
  <package id="Common.Logging" version="3.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Data.Edm" version="5.6.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Data.OData" version="5.6.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.Data.Services.Client" version="5.6.2" targetFramework="net45" userInstalled="true" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" userInstalled="true" />
  <package id="RazorEngine" version="3.7.0" targetFramework="net45" userInstalled="true" />
  <package id="System.Spatial" version="5.6.2" targetFramework="net45" userInstalled="true" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net45" userInstalled="true" />
</packages>